body {
    background-color: #121414;
    overflow-x: hidden;
    padding: 5px;
}

* {
    box-sizing: border-box;
}

.site-container{
    width: 100%;
    max-width: 1000px;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #434949;
    height: 150px;
}

::-webkit-scrollbar-thumb:hover {
    background: #797c7c;
}
