@import url('http://fonts.cdnfonts.com/css/gilroy-bold');


.home_container{
    width: 100%;
    height: 540px;
    margin-top: 40px;
}

.text_container{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gilroy-Bold', sans-serif;
}

.text_container>:nth-child(3){
    transform: rotate(-90deg);
}

.image_man-image{
    width: 100%;
}

@media (max-width: 768px) {
    .home_container{
        height: 276px;
        margin-top: 0;
    }
}
